<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_01285_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,673},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1009},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1345},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1681},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{829,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1105,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1381,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1657,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,673},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,1009},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,1345},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,1681},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{829,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1105,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1381,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1657,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,673},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1009},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1345},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_14_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1681},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1009},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_15_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1009},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_16_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1681},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_17_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1681},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_18_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1105,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_19_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1105,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1657,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_20_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1657,1},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,673},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_21_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,673},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,1345},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_22_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{277,1345},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_23_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1105,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_24_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1105,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1657,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_25_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1657,337},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1009},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_26_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1009},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1681},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01285_27_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,786}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{553,1681},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_01285_sps_all.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc089fdf6ba7415a90cd0b31d05a6d3e:4e704b319392572472797a9ec135579d:26ac249787da81ffbb408b9bcab38d68$</string>
            <key>textureFileName</key>
            <string>pri_01285_sps_all.png</string>
        </dict>
    </dict>
</plist>
