<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_21025_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{267,1},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{267,1},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{533,1},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,317},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{267,317},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{533,317},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,633},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{267,633},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{533,633},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,949},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1265},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1581},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{267,1},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{267,1},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,317},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,317},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{533,317},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{533,317},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{267,633},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{267,633},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,949},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,949},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1581},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21025_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,795}</string>
                <key>spriteSize</key>
                <string>{264,314}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1581},{264,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_21025_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa17f0663f5f9834928e3084c2ad694:de1577f8233777961901ebc314091e37:39499b62450f4d38775d04c0b5f3fdb1$</string>
            <key>textureFileName</key>
            <string>pri_21025_sps_all.png</string>
        </dict>
    </dict>
</plist>
