<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>21025_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{266,-187}</string>
                <key>spriteSize</key>
                <string>{1572,2278}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{1572,2278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_21025_sps.png</string>
            <key>size</key>
            <string>{1574,2280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9bda322a96ed94222dd712d18a29862:883cc9725e154a4933d55364d9038365:618f721b91f601b30bc8e9a4b66b29a2$</string>
            <key>textureFileName</key>
            <string>pri_21025_sps.png</string>
        </dict>
    </dict>
</plist>
