<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_11025_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,1},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,1},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{557,1},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,277},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,277},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{557,277},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,553},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,553},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{557,553},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,829},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,829},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{557,829},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,1},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,1},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,277},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,277},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{557,277},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{557,277},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,553},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{279,553},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,829},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,829},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{557,829},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11025_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{71,770}</string>
                <key>spriteSize</key>
                <string>{276,274}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{557,829},{276,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_11025_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf7404a2c0b5888a2af5bbd7fd12430f:c5f97c7486b7209b14ad24d707e00e6e:1dc90ad37d4ee470367884642d445ee1$</string>
            <key>textureFileName</key>
            <string>pri_11025_sps_all.png</string>
        </dict>
    </dict>
</plist>
