<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11136_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-141}</string>
                <key>spriteSize</key>
                <string>{2092,2260}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{2092,2260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_11136_sps.png</string>
            <key>size</key>
            <string>{2094,2262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdf4937e09594109808636f1aa973e14:8445d32873159b9b65d8aba76692abb2:706e2d9509342225072730baa1547ba5$</string>
            <key>textureFileName</key>
            <string>pri_11136_sps.png</string>
        </dict>
    </dict>
</plist>
