<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_21136_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{537,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{537,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,311},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,311},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{537,311},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,621},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,621},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,621},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{537,621},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,931},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{537,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{537,1},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,311},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,311},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,621},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,621},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,621},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{269,621},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,931},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_21136_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,788}</string>
                <key>spriteSize</key>
                <string>{266,308}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,931},{266,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_21136_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40c0b92d2e5dd639210edf41a4d4d7c7:c804bd2bdf8845f014da07d52239d132:c525d35ae526c4e6f7a9934ed1f6d425$</string>
            <key>textureFileName</key>
            <string>pri_21136_sps_all.png</string>
        </dict>
    </dict>
</plist>
