<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_01136_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,593},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,889},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1185},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1481},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{781,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1301,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,593},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,889},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1185},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1481},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{781,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1301,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,593},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,889},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1185},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_14_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1481},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_15_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,889},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_16_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,889},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1481},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_17_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1481},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_18_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_19_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_20_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,1},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,593},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_21_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,593},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1185},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_22_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1185},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_23_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_24_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_25_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,297},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,889},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_26_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,889},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1481},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01136_27_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,786}</string>
                <key>spriteSize</key>
                <string>{258,294}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1481},{258,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_01136_sps_all.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dc62b14b815d39df55c462d920f216e:6503ba967cf1f9e8eefbcbfd71df3ef2:90432b4b00a151575e423200134b7824$</string>
            <key>textureFileName</key>
            <string>pri_01136_sps_all.png</string>
        </dict>
    </dict>
</plist>
