<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_11136_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{541,1},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,325},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,325},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,325},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{541,325},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,649},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,649},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{541,649},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,973},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,973},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,325},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,325},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,325},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{271,325},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,649},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,649},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{541,649},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{541,649},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,973},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11136_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,792}</string>
                <key>spriteSize</key>
                <string>{268,322}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,973},{268,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_11136_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e586db4d32259329848c2635f8cd41f:f59c6589a67b61222f6dc7b79d667094:7fd042eb56a202a60ca4892f767b6a3c$</string>
            <key>textureFileName</key>
            <string>pri_11136_sps_all.png</string>
        </dict>
    </dict>
</plist>
