<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10021_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,327},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,327},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{239,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{477,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{715,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{239,327},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{239,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{477,327},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{477,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{715,327},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{715,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,327},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,327},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{239,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{239,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{715,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{715,1},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{239,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{239,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{477,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{477,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{715,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10021_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,778}</string>
                <key>spriteSize</key>
                <string>{236,324}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{715,653},{236,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_10021_sps_all.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16f7006177e279208013d9f238b023fb:51ce74c29fa99afdf50702cdadc12e74:5a55ad23b4918f71a3f6aba31b64ab1e$</string>
            <key>textureFileName</key>
            <string>pri_10021_sps_all.png</string>
        </dict>
    </dict>
</plist>
