<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_20021_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,637},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,637},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,637},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,955},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,637},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,637},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,955},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,955},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20021_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,792}</string>
                <key>spriteSize</key>
                <string>{270,316}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,319},{270,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_20021_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5176a944d5d40da17f216806ac7bab7e:3afe699adc1adf519e1063d258ca2d71:108aba24669538503e20c32606044d9f$</string>
            <key>textureFileName</key>
            <string>pri_20021_sps_all.png</string>
        </dict>
    </dict>
</plist>
