<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10177_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,361},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,361},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,721},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,721},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1081},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1081},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1441},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1441},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,721},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,721},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,361},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,361},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,721},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,721},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1081},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1081},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1441},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,1441},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,721},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10177_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,765}</string>
                <key>spriteSize</key>
                <string>{224,358}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{227,721},{224,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_10177_sps_all.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3928aac072c7d4bd1ee1e0be81af2d5:e1cc427a0afdadcb950319e9863a2d72:ae6c3578d162b5e5cbac28d089114cfa$</string>
            <key>textureFileName</key>
            <string>pri_10177_sps_all.png</string>
        </dict>
    </dict>
</plist>
