<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00177_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,629},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,943},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1257},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1571},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{847,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1129,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1411,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1693,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,629},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,943},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,1257},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,1571},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{847,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1129,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1411,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1693,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,629},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,943},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,1257},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_14_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,1571},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,943},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_15_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,943},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_16_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1571},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_17_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1571},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_18_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1129,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_19_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1129,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1693,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_20_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1693,1},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,629},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_21_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,629},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,1257},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_22_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{283,1257},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_23_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1129,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_24_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1129,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1693,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_25_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1693,315},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,943},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_26_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,943},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,1571},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00177_27_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,774}</string>
                <key>spriteSize</key>
                <string>{280,312}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{565,1571},{280,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_00177_sps_all.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdf1afe7faf54cc2261ad7c27e5c072b:2630d567e9c69304001d943b2d326c1e:127e9bacf7333a2e54f90c972290e9b7$</string>
            <key>textureFileName</key>
            <string>pri_00177_sps_all.png</string>
        </dict>
    </dict>
</plist>
