<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_20177_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,1},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,1},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{609,1},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{609,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,725},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,725},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{609,725},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1087},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{609,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,1},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,1},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{609,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{609,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,725},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{305,725},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1087},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1087},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{609,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20177_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,827}</string>
                <key>spriteSize</key>
                <string>{302,360}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{609,363},{302,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_20177_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59fe0658c4626946cd3409730e9208ca:5bb4d9acc1f177be5da8609337b22cef:b19489fa0a967a7b650a05466e11c025$</string>
            <key>textureFileName</key>
            <string>pri_20177_sps_all.png</string>
        </dict>
    </dict>
</plist>
