<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_01025_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,585},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1169},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1461},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1753},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{817,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1089,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1361,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1633,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,585},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1169},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1461},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1753},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{817,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1089,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1361,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1633,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,585},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_14_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_15_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_16_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1461},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_17_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1461},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_18_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{817,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_19_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{817,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1361,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_20_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1361,1},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_21_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_22_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1461},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_23_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{273,1461},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_24_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1089,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_25_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1089,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1633,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_26_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1633,293},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01025_27_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,778}</string>
                <key>spriteSize</key>
                <string>{270,290}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{545,877},{270,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_01025_sps_all.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e17701a6ea8b179df2575af20e2c6f98:0fe5c89f1496fcf8613432c914c3833c:30f7f6b15f49bf828fa49982b9b511f9$</string>
            <key>textureFileName</key>
            <string>pri_01025_sps_all.png</string>
        </dict>
    </dict>
</plist>
