<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_20635_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,1},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,1},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{677,1},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,321},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,321},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{677,321},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,641},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,641},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{677,641},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,961},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,961},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{677,961},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,1},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,1},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,321},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,321},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{677,321},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{677,321},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,641},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{339,641},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,961},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,961},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{677,961},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_20635_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,757}</string>
                <key>spriteSize</key>
                <string>{336,318}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{677,961},{336,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_20635_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b6c368443fd63b1e717da1a169f6eaa:981ff3ce7cc9a7bd58ab0736b58a36af:31e37e18688e5be90550929a8b4d16a1$</string>
            <key>textureFileName</key>
            <string>pri_20635_sps_all.png</string>
        </dict>
    </dict>
</plist>
