<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_00635_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,645},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1289},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1611},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{497,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{745,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{993,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1241,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1489,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1737,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,645},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,1289},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,1611},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{497,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{745,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{993,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1241,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1489,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1737,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{497,645},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_14_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{497,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_15_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_16_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1611},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_17_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1611},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{497,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_18_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{497,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{993,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_19_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{993,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1489,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_20_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1489,1},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_21_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_22_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,1611},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_23_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{249,1611},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{745,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_24_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{745,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1241,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_25_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1241,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1737,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_26_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1737,323},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{497,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_00635_27_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,746}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{497,967},{246,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_00635_sps_all.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48c94bb4554b203e118b3e66c7fadcaf:7a99988b37e578483b7c548b6f8911b8:7ce87f6e67c97578ca18b7bd38a02620$</string>
            <key>textureFileName</key>
            <string>pri_00635_sps_all.png</string>
        </dict>
    </dict>
</plist>
