<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_10635_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,1},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,1},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{613,1},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,355},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,355},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{613,355},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,709},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,709},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{613,709},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1063},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1417},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,1063},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,1},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,1},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,355},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,355},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{613,355},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{613,355},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,709},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,709},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1063},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1063},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,1063},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_10635_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,779}</string>
                <key>spriteSize</key>
                <string>{304,352}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{307,1063},{304,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_10635_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69612d0c888905c463f008ac24a7b699:f6fd5fd29912aafbd22e45c21902066f:16cac33d30628abf40acea124dc45cf5$</string>
            <key>textureFileName</key>
            <string>pri_10635_sps_all.png</string>
        </dict>
    </dict>
</plist>
