<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_30751_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,1},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,1},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{569,1},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,403},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,403},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{569,403},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,805},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1207},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1609},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,805},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{569,805},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,1207},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,1},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,1},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,403},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,403},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{569,403},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{569,403},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1207},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1207},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,805},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,805},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,1207},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_30751_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,801}</string>
                <key>spriteSize</key>
                <string>{282,400}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{285,1207},{282,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_30751_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae0d7db3f3fc5510121fa40b5f7f3f4:c59a65ffc624b11a539c2db6c6862344:87205f89148d242a3616527cba50590c$</string>
            <key>textureFileName</key>
            <string>pri_30751_sps_all.png</string>
        </dict>
    </dict>
</plist>
