<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_11687_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{573,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{573,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,271},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,271},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{573,271},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,541},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,541},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,541},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{573,541},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,811},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{573,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{573,1},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,271},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,271},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,541},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,541},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,541},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{287,541},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,811},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_11687_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{642,181}</string>
                <key>spriteSize</key>
                <string>{284,268}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,811},{284,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_11687_sps_all.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ac170335a89978e2506674ec541960b:a944cce290bb84b7ae130c0febdc9f5f:0cfec6823c97ca9ac9b3604b3ef8b9ed$</string>
            <key>textureFileName</key>
            <string>pri_11687_sps_all.png</string>
        </dict>
    </dict>
</plist>
