<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>face_01687_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_01_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,589},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_02_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,883},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_03_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1177},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_04_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1471},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_05_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{781,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_06_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1301,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_07_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_08_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,589},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,883},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_09_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1177},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1471},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_10_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{781,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_11_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1301,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_12_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,589},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_13_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,883},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1177},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_14_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1471},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,883},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_15_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,883},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_16_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1471},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_17_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1,1471},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_18_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_19_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_20_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,1},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,589},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_21_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,589},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1177},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_22_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{261,1177},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_23_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_24_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1041,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_25_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{1561,295},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,883},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_26_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,883},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1471},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>face_01687_27_blink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,789}</string>
                <key>spriteSize</key>
                <string>{258,292}</string>
                <key>spriteSourceSize</key>
                <string>{2560,2876}</string>
                <key>textureRect</key>
                <string>{{521,1471},{258,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pri_01687_sps_all.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dec8d253e2a6aa52ae150d86805dde06:0494e8513f9cee73df1faff6ca3d1425:1c03221686b38ae0f8da7180e69d1eac$</string>
            <key>textureFileName</key>
            <string>pri_01687_sps_all.png</string>
        </dict>
    </dict>
</plist>
